/* GLOBAL STYLES ------------------------------- */
footer, .sfooter-content {
width: 70%;
margin: 0 auto;
}

.topnav-l:link, :visited {
	color: black;
}

.topnav {
float: right;
text-align: center;
}

.topnav > a {
border-radius: 2px;
background-color: #ffffff;
font-family: 'Oxygen', sans-serif;
color: black;
height: 5rem;
width: 95%;
margin: 5rem 1rem 0;

}

.topnav-l {
font-family: 'Fjord One', serif;
font-size: 3.5rem;
text-align: center;
padding: 2% 5%;
margin: 2rem auto 0;
/*border: 2px solid lightslategray;*/
border-radius: 3px;

}

.well {
background-color: #ffffff;
border-radius: 2px;
}

.mcontent {
font-family: 'Fjord One', serif;
font-size: 2rem;
text-align: center;
}

/*.subcontent {
	margin: auto;
}*/

.subcontent > .well {
	font-family: 'Oxygen', sans-serif;
	margin: 2rem;
	min-height: 15rem;
}
.subcontent > .well > h3 {
	font-family: 'Fjord One', serif;
}


.mcontent > .well {
	min-height: 30rem;
}

.mcontent > .well > h2 {
font-size: 1.5em;
}

.mcontent > .well > p {
font-family: 'Oxygen', sans-serif;
font-size: 1.75rem;
}

.navbar-fixed-bottom {
	margin-top: 2rem;
	border: 2px lightslategray;
}

footer {
background-color: #ffffff;
font-family: 'Oxygen', sans-serif;
color: black;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
width: 90%;
max-height: 5rem;
}

/*.footer-l, .footer-c {
	position: relative;
	top: 50%;
	transform: translateY(10%);
}*/

.footer-i {
	float: right;
	padding-right: 5rem;
}

.footer-i > a > img {
	width: 2.5rem;
}

.bottomnav {
	/*padding: 2rem;*/
	text-align: center;
}

/* MAIN PAGE LAYOUT STYLES --------------------- */


/* SUBPAGE LAYOUT STYLES ----------------------- */

/* MISC STYLES --------------------------------- */

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}