/* GLOBAL STYLES ------------------------------- */
footer, .sfooter-content {
	width: 70%;
	margin: 0 auto;
}

.topnav {
	border-radius: 3px;
	background-color: #3cb371;
	float: right;
	/*width: 20rem;*/
	height: 5rem;
	margin: 2rem 1rem 0;
}

.topnav-l {
	font-family: 'Fjord One', serif;
	font-size: 3rem;
	margin: 2.5rem 3rem;
}

footer {
	background-color: #f5f5dc;
}

.bottomnav {
	padding: 2rem;
	text-align: center;
}

/* MAIN PAGE LAYOUT STYLES --------------------- */


/* SUBPAGE LAYOUT STYLES ----------------------- */

/* MISC STYLES --------------------------------- */

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}