/* GLOBAL STYLES ------------------------------- */
footer, .sfooter-content {
width: 70%;
margin: 0 auto;
}

.topnav-l:link, :visited {
	color: black;
}

.topnav {
float: right;
text-align: center;
}

.topnav > a {
border-radius: 2px;
background-color: #96C8A2;
color: white;
height: 5rem;
width: 95%;
margin: 5rem 1rem 0;
vertical-align: middle;
}

.topnav-l {
font-family: 'Fjord One', serif;
font-size: 3.5rem;
text-align: center;
padding: 2% 5%;
margin: 2.5rem 3rem;
width: 30%;
border: 2px solid lightslategray;
border-radius: 3px;

}

.well {
background-color: honeydew;
border-radius: 2px;
}

.mcontent {
font-family: 'Fjord One', serif;
font-size: 2rem;
text-align: center;
}

.mcontent > .well > h2 {
font-size: 1.5em;
}

.mcontent > .well > p {
font-family: 'Oxygen', sans-serif;
font-size: 1.75rem;
}

footer {
background-color: #93AAAB;
font-family: 'Oxygen', sans-serif;
	color: floralwhite;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*.footer-l, .footer-c {
	position: relative;
	top: 50%;
	transform: translateY(10%);
}*/

.footer-i {
	float: right;
	/*transform: translateY(-100%);
	padding-right: 5rem;*/
}

.footer-i > a > img {
	width: 2.5rem;
}

.bottomnav {
	/*padding: 2rem;*/
	text-align: center;
}

/* MAIN PAGE LAYOUT STYLES --------------------- */


/* SUBPAGE LAYOUT STYLES ----------------------- */

/* MISC STYLES --------------------------------- */

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}